includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: 5
    reportUnmatchedIgnoredErrors: false
    paths:
        - app
        - tests
    excludePaths:
        - tests/coverage (?)
